:root {
  --second-color: rgba(34, 34, 34, 0.85);
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-weight: 1.8rem;
}
h2 {
  font-weight: 1.6rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
path {
  fill: white !important;
}
.contenedor {
  max-width: 90%;
  margin: 0 auto 0 auto;
}
img {
  max-width: 100%;
  max-width: 70vh;
}
@media only screen and (min-widht: 768px) {
  .contenedor {
    max-width: 80%;
  }
}
.header-site {
  background-color: red;
  color: white;
}
a img {
  color: white;
  display: block;
}
.header-site img {
  width: 4rem;
}
.contenedor-header-site {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titulo-header h1 {
  color: white;
}
.navegacion button {
  color: #12435e;
  background-color: red;
  border: none;
  margin: 0 0 0 0;
}
.navegacion button:target {
  color: #12435e;
  background-color: #12435e;
  border: none;
  margin: 0 0 0 0;
}
.navegacion button::placeholder {
  color: #12435e;
  background-color: #12435e;
  border: none;
  margin: 0 0 0 0;
}
.contexto {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  color: #12435e;
}
.banner h1 {
  color: white;
  margin: 0 0 0 0;
}
.banner {
  background-position: center center;
  background-attachment: fixed;
  background-image: url(../assets/img/banner/banner.jpg);
  height: 70vh;
}
.contenefor-baner {
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}
@media only screen and (min-width: 768px) {
  .banner {
    height: 40vh;
  }
  .contenefor-baner {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contenefor-baner article {
  padding: 1rem;
  color: white;
  margin: 1rem 0 0 0;
  border-radius: 10px;
  background-color: #12435e85;
  text-align: center;
}
.contenefor-baner article h2 {
  color: white;
}
.contenefor-baner article img {
  max-width: 25%;
}
.herrameintas {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  text-align: center;
}
.herrameintas h2 {
  margin: 0 0 0 0;
  color: #12435e;
  font-size: 2rem;
}
.herrameintas p {
  margin: 0 0 0 0;
}

.seccion-principal {
  background-position: center center;
  background-attachment: fixed;
}
.contenedor-productos {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
@media only screen and (min-width: 768px) {
  .contenedor-productos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenido-main {
  padding: 1.5rem;
  text-align: center;
}
.contenedor-productos a {
  border-bottom: 1px solid gray;
}
.contenedor span {
  color: red;
}
.contenedor-productos h2 {
  color: white;
}
.section-img img {
  max-width: 75%;
  max-height: 50%;
}

.panel {
  position: fixed;
  z-index: 998;
  width: 100%;
  background-color: var(--second-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  transform: translate(0, 100%);
}
.is-active {
  transform: translate(0, 0);
}
.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.menu a:hover {
  background-color: #12435e;
}

footer {
  display: block;
  margin: 1rem 0 0 0;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: red;
}
.lenguaje {
  padding: 1rem;
  margin: 1rem 0 0rem 0;
  background-color: white;
  background-image: none;
}
.contenedor-lenguaje {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
}
.contenedor-lenguaje:last-of-type,
.contenedor-lenguaje:last-child {
  grid-row-gap: 0;
}
@media only screen and (min-width: 768px) {
  .contenedor-lenguaje {
    grid-template-columns: repeat(2, 1fr);
  }
}

.lenguaje img {
  text-align: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-height: 100%;
}

.texto-lenguaje {
  padding: 1rem;
  color: white;
  margin: 1rem 0 0 0;
  border-radius: 10px;
  background-color: rgba(18, 67, 94, 0.64);
  text-align: center;
}
.lenguaje {
  text-align: center;
  color: #12435e;
  font-weight: 1.8rem;
}
.tiposdearquitecura {
  display: block;
  margin: 1rem 0 1rem;
  padding: 1rem;
}
.contenedor-aqruitectura {
  display: flex;
  justify-content: space-between;
}
.contenedor-aqruitectura article {
  width: 50%;
}
.contenedor-aqruitectura article:first-child {
  margin: 0 0.5rem 0 0;
}
.contenedor-aqruitectura article:last-child {
  margin: 0 0 0 0.5rem;
}
.contenedor-funciones {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 768px) {
  .contenedor-funciones {
    grid-template-columns: repeat(2, 1fr);
  }
}
.productos .section-text a {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: red;
  margin-bottom: 1rem;
}
.producto-main {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}
.producto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  align-items: center;
  align-content: center;
}
.producto .section-text h3 {
  font-size: 2rem;
  margin: 0;
}
.producto .section-text a {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: red;
  margin-bottom: 1rem;
}
.producto .section-text p {
  font-size: 1.6rem;
}
.producto .section-text {
  border-radius: 1rem;
  padding: 1rem;
  align-items: center;
  align-content: center;
}
.producto {
  border-bottom: 1px solid gray;
}
.formulario input {
  display: block;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  width: 100%;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.formulario {
  float: none;
  text-align: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.formulario input[type="submit"] {
  text-align: center;
  align-content: center;
  align-items: center;
}
.aviso a {
  color: red;
  text-transform: uppercase;
}
table {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
}
th,
td {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
}
th {
  font-size: 1.5rem;
  background-color: red;
  color: white;
}
td {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
td {
  font-size: 1.2rem;
}

td img {
  max-height: 10rem;
}
